body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    background: url(blackjack-table.jpg) no-repeat center / cover;
    color: white;
    font-weight: bold;
}

h1 {
    color: goldenrod;
}

#message-el {
    font-style: italic;
}
button{
color: #016f32;
width: 150px;
background: goldenrod;
border-radius: 3px;
border: none;
cursor: pointer;
padding: 5px 0;
font-weight: bold;
}
/* div{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
} */